<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="지도위의 스토리">
  <meta name="description" content="지도위에 자신만의 스토리를 남겨보세요!">
  <meta name="keywords" content="지도,스토리,갤러리">
  <meta property="og:title" content="지도위의 스토리">
  <meta property="og:description" content="지도위에 자신만의 스토리를 남겨보세요!">
  <meta property="og:image" content="https://drive.google.com/thumbnail?id=1bHpAQGFz9WTw6LW5U8TCVgew1M9hqYsK&sz=w1080">
  <meta property="og:url" content="https://웹사이트">
  <title>지도위의 스토리 게시판 | web갤러리</title>
  <link rel="stylesheet" th:href="@{/css/setting.css}">
  <link rel="stylesheet" th:href="@{/css/plugin.css}" >
  <link rel="stylesheet" th:href="@{/css/template.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <!-- [S]personal-CnLTtXi9Ke -->
  <div class="personal-CnLTtXi9Ke" data-bid="bLLtTXudhG" id="1">
    <div class="contents-inner">
      <div class="contents-container container-md">
        <div class="tabset tabset-brick">
        </div>
      </div>
    </div>
  </div>
  <!-- [E]personal-CnLTtXi9Ke -->
  <main class="th-layout-main ">
    <!-- [S]personal-CnLTtXi9Ke -->
    <div class="personal-CnLTtXi9Ke" data-bid="IkLTtyg7k6" id="2">
      <div class="header-dim"></div>
    </div>
    <!-- [E]personal-CnLTtXi9Ke -->
    <!-- [S]personal-NxLtV5diGU -->
    <div class="personal-NxLtV5diGU" id="3" data-bid="OxlTV5dZI5">
      <div class="header-inner">
        <div class="header-container container-lg">
          <h1 class="header-title">
            <a href="javascript:void(0)">
              <img th:src="@{/medias/eb6c144c41554aaeb51944c04bdfcd45.png}" alt="" class="">
            </a>
          </h1>
          <div class="header-right">
            <div class="header-title header-mobile-top">
              <a href="javascript:void(0)">
                <img th:src="@{/medias/eb6c144c41554aaeb51944c04bdfcd45.png}" alt="">
              </a>
            </div>
            <ul class="header-gnblist">
              <li class="header-gnbitem">
                <a class="header-gnblink" th:href="@{/home}">
                  <span>스토리 홈</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" th:href="@{/forum}">
                  <span>스토리 게시판</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" th:href="@{/user/log-in-form}">
                  <span>로그인</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" th:href="@{/user/sign-up-form}">
                  <span>회원가입</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="header-utils">
            <button class="btn-momenu">
              <img th:src="@{/icons/ico_menu_black.svg}" alt="모바일메뉴 아이콘">
            </button>
            <button class="btn-close">
              <img th:src="@{/icons/ico_close_black.svg}" alt="닫기 아이콘">
            </button>
          </div>
        </div>
      </div>
      <div class="header-dim"></div>
    </div>
    <!-- [E]personal-NxLtV5diGU -->
    <!-- [S]basic-N54 -->
    <div class="basic-N54" data-bid="bLLtTXudhG">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="tabset tabset-brick">
            <ul class="tabset-list tabset-lg">
              <li class="tabset-item">
                <a class="tabset-link active" href="javascript:void(0)">
                  <span>최신글</span>
                </a>
              </li>
              <li class="tabset-item">
                <a class="tabset-link" href="javascript:void(0)">인기글<span></span>
                </a>
              </li>
              <li class="tabset-item">
                <a class="tabset-link" href="javascript:void(0)">
                  <span>전체</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="text-upload">
            <a href="javascript:void(0)">
              <strong>게시판 글쓰기 </strong>&nbsp; <img class="icon-lg" src="../medias/icons/iconsax-bold/document-text.svg" alt="">
            </a>
          </div>
          <br>
          <div class="contents-group">
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/img_basic_N54_1.png" alt="카드 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit"> 제목1</h2>
                <span class="cardset-txt">2023.01.01 ~ 2023.01.31</span>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/img_basic_N54_2.png" alt="카드 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">
                </h2>
                <h2 class="cardset-tit" style="font-size: var(--fs-p1); line-height: var(--lh-p1);">제목2</h2>
                <span class="cardset-txt">2023.01.01 ~ 2023.01.31</span>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/img_basic_N54_3.png" alt="카드 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">
                </h2>
                <h2 class="cardset-tit" style="font-size: var(--fs-p1); line-height: var(--lh-p1);">제목3</h2>
                <span class="cardset-txt">2023.01.01 ~ 2023.01.31</span>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/img_basic_N54_1.png" alt="카드 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit"> 제목4</h2>
                <span class="cardset-txt">2023.01.01 ~ 2023.01.31</span>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/img_basic_N54_2.png" alt="카드 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit"> 제목5</h2>
                <span class="cardset-txt">2023.01.01 ~ 2023.01.31</span>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/img_basic_N54_3.png" alt="카드 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">제목6</h2>
                <span class="cardset-txt">2023.01.01 ~ 2023.01.31</span>
              </div>
            </a>
          </div>
          <nav class="pagiset pagiset-line">
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-first" href="javascript:void(0)">
                <span class="visually-hidden">처음</span>
              </a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
                <span class="visually-hidden">이전</span>
              </a>
            </div>
            <div class="pagiset-list">
              <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
              <a class="pagiset-link" href="javascript:void(0)">2</a>
              <a class="pagiset-link" href="javascript:void(0)">3</a>
              <a class="pagiset-link" href="javascript:void(0)">4</a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-next" href="javascript:void(0)">
                <span class="visually-hidden">다음</span>
              </a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-last" href="javascript:void(0)">
                <span class="visually-hidden">마지막</span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- [E]basic-N54 -->
  </main>
  <!-- [S]personal-xBLttXK2ZR -->
  <div class="personal-xBLttXK2ZR" id="" data-bid="jfltTXSEn6">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>지도위의 스토리</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
          </li>
          <li class="footer-menuitem">
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
          </li>
          <li class="footer-snsitem">
          </li>
          <li class="footer-snsitem">
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="footer-txt">
          <p>Concho 서울, 성남 근무 가능</p>
          <p>
            <span>T. 추가 예정</span>
            <span>E. 추가 예정.</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>2024 MADE BY Concho</p>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]personal-xBLttXK2ZR -->
  <script th:src="@{/js/setting.js}"></script>
  <script th:src="@{/js/plugin.js}"></script>
  <script th:src="@{/js/template.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/script.js}"></script>
</body>