<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="지도위의 스토리">
    <meta name="description" content="지도위에 자신만의 스토리를 남겨보세요!">
    <meta name="keywords" content="지도,스토리,갤러리">
    <meta property="og:title" content="지도위의 스토리">
    <meta property="og:description" content="지도위에 자신만의 스토리를 남겨보세요!">
    <meta property="og:image" content="https://drive.google.com/thumbnail?id=1bHpAQGFz9WTw6LW5U8TCVgew1M9hqYsK&sz=w1080">
    <meta property="og:url" content="https://웹사이트">
    <title>갤러리 페이지 | web갤러리</title>
    <link rel="stylesheet" th:href="@{/css/setting.css}">
    <link rel="stylesheet" th:href="@{/css/plugin.css}" >
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- [E]personal-xBLttXK2ZR -->
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous">
    </script>
    <script defer th:src="@{/js/setting.js}"></script>
    <script defer th:src="@{/js/plugin.js}"></script>
    <script defer th:src="@{/js/template.js}"></script>
    <script defer th:src="@{/js/common.js}"></script>
    <script defer th:src="@{/js/script.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var message = /*[[${modelMessage}]]*/ null;
        if (message) {
            alert(message);
        }
        /*]]>*/
    </script>
</head>

<body>
<!-- [S]personal-CnLTtXi9Ke -->
<div class="personal-CnLTtXi9Ke" data-bid="bLLtTXudhG" id="1">
    <div class="contents-inner">
        <div class="contents-container container-md">
            <div class="tabset tabset-brick">
            </div>
        </div>
    </div>
</div>
<!-- [E]personal-CnLTtXi9Ke -->
<main class="th-layout-main ">
    <!-- [S]personal-CnLTtXi9Ke -->
    <div class="personal-CnLTtXi9Ke" data-bid="IkLTtyg7k6" id="2">
        <div class="header-dim"></div>
    </div>
    <!-- [E]personal-CnLTtXi9Ke -->
    <!-- [S]personal-NxLtV5diGU -->
    <div class="personal-NxLtV5diGU" id="3" data-bid="OxlTV5dZI5">
        <div class="header-inner">
            <div class="header-container container-lg">
                <h1 class="header-title">
                    <a href="javascript:void(0)">
                        <img th:src="@{/medias/eb6c144c41554aaeb51944c04bdfcd45.png}" alt="" class="">
                    </a>
                </h1>
                <div class="header-right">
                    <div class="header-title header-mobile-top">
                        <a href="javascript:void(0)">
                            <img th:src="@{/medias/eb6c144c41554aaeb51944c04bdfcd45.png}" alt="">
                        </a>
                    </div>
                    <ul class="header-gnblist">
                        <li class="header-gnbitem">
                            <a class="header-gnblink" th:href="@{/user/home}">
                                <span>스토리 홈</span>
                            </a>
                        </li>
                        <li class="header-gnbitem">
                            <a class="header-gnblink" th:href="@{/user/gallery}">
                                <span>스토리 갤러리</span>
                            </a>
                        </li>
                        <li class="header-gnbitem">
                            <a class="header-gnblink" th:href="@{/user/map}">
                                <span>스토리 지도</span>
                            </a>
                        </li>
                        <li class="header-gnbitem">
                            <a class="header-gnblink" th:href="@{/user/forum}">
                                <span>스토리 게시판</span>
                            </a>
                        </li>
                        <li class="header-gnbitem">
                            <a class="header-gnblink" th:href="@{/user/log-out}" onclick="return confirmLogout('로그아웃하시겠습니까?')">
                                <span>로그아웃</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-utils">
                    <button class="btn-momenu">
                        <img th:src="@{/icons/ico_menu_black.svg}" alt="모바일메뉴 아이콘">
                    </button>
                    <button class="btn-close">
                        <img th:src="@{/icons/ico_close_black.svg}" alt="닫기 아이콘">
                    </button>
                </div>
            </div>
        </div>
        <div class="header-dim"></div>
    </div>
    <!-- [E]personal-NxLtV5diGU  -->
    <!-- [S]basic-N54 -->
    <div class="basic-N54" data-bid="bLLtTXudhG">
        <div class="contents-inner">
            <div class="contents-container container-md">

                <div class="contents-group"  th:if="${!imgList.isEmpty()}">
                    <a class="cardset" th:each="img : ${imgList}" th:data-img-id="${img.getId()}">
                        <figure class="cardset-figure">
                            <img class="cardset-img" th:src="@{${img.getPath()}}" alt="no img">
                        </figure>
                        <div class="cardset-body">
                            <h2 class="cardset-tit"><span th:text="${img.getName()}"></span></h2>
                            <span class="cardset-txt" th:text="${img.getDate()}"></span>
                        </div>
                    </a>
                </div>
                <div id="empty" th:unless="${!imgList.isEmpty()}">
                    <h1>텅!</h1>
                    <br>
                    <h2>사진을 업로드해 주세요!</h2>
                    <br>
                    <div>
                        <a class="header-gnblink" th:href="@{/user/map}">
                            <div class="imageset">
                                <img class="imageset-img" th:src="@{https://images.pexels.com/photos/20446158/pexels-photo-20446158.jpeg}" alt="">
                            </div>
                            <span>스토리 지도(이미지 업로드) 바로가기</span>
                        </a>
                    </div>
                </div>

                <nav class="pagiset pagiset-line">
                    <div class="pagiset-ctrl">
                        <a class="pagiset-link pagiset-first" th:href="@{/user/gallery(page=0)}">
                            <span class="visually-hidden">처음</span>
                        </a>
                    </div>
                    <div class="pagiset-ctrl">
                        <!-- 타임리프의 js 호출 방법 -->
                        <div id="prev" class="pagiset-link pagiset-prev">
                            <span class="visually-hidden">이전</span>
                        </div>
                    </div>
                    <div class="pagiset-list" id="pageButtonList">
                        <a class='pagiset-link active-fill' th:href="@{/user/gallery(page=${page})}"><span th:text="${page+1}"></span></a>
                    </div>
                    <div class="pagiset-ctrl">
                        <div id="after" class="pagiset-link pagiset-next">
                            <span class="visually-hidden">다음</span>
                        </div>
                    </div>
                    <div class="pagiset-ctrl">
                        <a class="pagiset-link pagiset-last" th:href="@{/user/gallery(page=${maxPage} - 1)}">
                            <span class="visually-hidden">마지막</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- [E]basic-N54 -->
</main>
<!-- [S]personal-xBLttXK2ZR -->
<div class="personal-xBLttXK2ZR" id="" data-bid="jfltTXSEn6">
    <div class="footer-container container-lg">
        <div class="footer-top">
            <h1 class="footer-logo">
            </h1>
            <ul class="footer-menulist">
                <li class="footer-menuitem">
                    <a href="javascript:void(0)">
                        <span>지도위의 스토리</span>
                    </a>
                </li>
                <li class="footer-menuitem">
                    <a href="javascript:void(0)">
                        <span>개인정보처리방침</span>
                    </a>
                </li>
                <li class="footer-menuitem">
                </li>
                <li class="footer-menuitem">
                </li>
            </ul>
            <ul class="footer-snslist">
                <li class="footer-snsitem">
                </li>
                <li class="footer-snsitem">
                </li>
                <li class="footer-snsitem">
                </li>
                <li class="footer-snsitem">
                    <a class="footer-snslink" href="javascript:void(0)">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="footer-txt">
                <p>Concho 서울, 성남 근무 가능</p>
                <p>
                    <span>T. 추가 예정</span>
                    <span>E. 추가 예정.</span>
                </p>
            </div>
            <div class="footer-txt">
                <p>2024 MADE BY Concho</p>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    let currentPage = /*[[${page}]]*/ 0;
    let maxPage = /*[[${maxPage}]]*/ 1;

    currentPage = Number(currentPage); // 현제 페이지 idx
    maxPage = Number(maxPage);
    console.log(currentPage);
    console.log(maxPage);

    $(document).ready(() => {
        let pageButtonList = $("#pageButtonList");
        let totalPageButtonCnt = 6;
        let leftButton = currentPage + 1;
        let rightButton = currentPage + 1;

        for(let i=0; i<totalPageButtonCnt; i++){
            if(i%2 === 0){      // 왼쪽 버튼 찍기
                leftButton--;
                if(!(leftButton > 0)){ //왼쪽 버튼 찍을게 없으면
                    rightButton++;
                    if(rightButton > maxPage){    //근데 오른쪽도 없으면
                        // 아무것도 안하기
                        console.log("아무것도 안하기");
                    }else{          //오른쪽버튼 있음
                        let button = `<a class='pagiset-link' href='/user/gallery?page=${rightButton-1}'>${rightButton}</a>`;
                        pageButtonList.append(button);
                    }
                }else{              // 왼쪽버튼 있음
                    let button = `<a class='pagiset-link' href='/user/gallery?page=${leftButton-1}'>${leftButton}</a>`;
                    pageButtonList.prepend(button);
                }
            }else{              // 오른쪽 버튼 찍기
                rightButton++;
                if(rightButton > maxPage){
                    leftButton--;
                    if(!(leftButton > 0)){
                        // 아무것도 안함
                        console.log("아무것도 안하기");
                    }else {
                        let button = `<a class='pagiset-link' href='/user/gallery?page=${leftButton-1}'>${leftButton}</a>`;
                        pageButtonList.prepend(button);
                    }
                }else{
                    let button = `<a class='pagiset-link' href='/user/gallery?page=${rightButton-1}'>${rightButton}</a>`;
                    pageButtonList.append(button);
                }
            }
        }
        /*
        // 페이지가 현제 페이지보다 작은 경우
        for(let i=currentPage; i>Math.max(0, currentPage-6); i--){
            button = `<a class='pagiset-link' href='/user/gallery?page=${i-1}'>${i}</a>`;
            pageButtonList.prepend(button);
            if(--totalPageButtonCnt < 0) break;
        }
        // 페이지가 현제 페이지보다 큰 경우
        for(let i=currentPage + 2; i<=Math.min(maxPage, currentPage + 7); i++){
            button = `<a class='pagiset-link' href='/user/gallery?page=${i-1}'>${i}</a>`;
            pageButtonList.append(button);
            if(--totalPageButtonCnt < 0) break;
        }
        */
        $("#after").click(
            function goToAfterPage() {
                if (currentPage + 1 > maxPage-1) {
                    alert('마지막 페이지입니다.');
                } else {
                    window.location.href = '/user/gallery?page=' + (currentPage + 1);
                }
            }
        );
        $("#prev").click(
            function goToPrevPage() {
                if (currentPage - 1 < 0) {
                    alert('첫 번째 페이지입니다.');
                } else {
                    window.location.href = '/user/gallery?page=' + (currentPage -1);
                }
            }
        );

        $('.cardset').click(function() {
            // data-img-id 속성에서 이미지 ID 가져오기
            let imgId = $(this).data('img-id');
            // URL 구성
            let url = '/user/img-info?imgId='+ imgId+'&pageNum='+(currentPage);
            // 페이지 리디렉션
            location.href = url;
        });

        function confirmLogout() {
            // confirm 함수는 확인(true) 또는 취소(false)를 반환합니다.
            let confirmAction = confirm("로그아웃하시겠습니까?");
            if (confirmAction) {
                // 사용자가 '확인'을 클릭한 경우, 로그아웃 링크의 기본 동작을 수행합니다.
                return true;
            } else {
                // 사용자가 '취소'를 클릭한 경우, 로그아웃 링크의 기본 동작을 방지합니다.
                return false;
            }
        }

    });


</script>

</body>